.footer {
    background-color: beige;
    font-size: 6ch;
    padding-left: 29ch;
    padding-right: 20ch;
    border-color: black;
    border-width: 4px;
    border-top: 0cm;
    border-left: 0cap;
    border-right: 0cap;
    font-style: italic;



}