.header{
    background-color: beige;
    font-size: 5ch;
    padding-left: 30ch;
    border-style:solid;
    border-color: black;
    border-width: 4px;
    border-left: 0cap;
    border-right: 0cap;
    font-style: italic;
    
}