@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.green{
  background-color: bisque;
  font-size: 10ch;;
  padding-left: 14cm;
  padding-right: 11cm;
  border-width: 4px;
  border-color: black;
  border-top:10cm ;
  border-left: 0cm;
  border-right: 0cm;
  font-style: italic;
}

.red{
  background-color: cadetblue;
  font-size: 20ch;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 4cm;
  padding-bottom: 4cm;
  border-width: 4px;
  border-color: black;
  border-top: 0cm;
  border-right: 0ch;
  border-left: 0ch;
  font-style: italic;
}